@page "/Account/LogoutConfirmation"
@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer

<div class="col-md-6">
    <div class="card action-card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
            <div class="icon-box bg-primary-soft mb-3">
       
            </div>
            <h3 class="card-title">LOGGING OUT!</h3>
            <p class="card-text text-muted">Are you sure you want to log out?</p>
            <a href="/Account/Logout" class="btn btn-ss-outline mt-auto">Yes</a>
        </div>
    </div>
</div>


