@page "/Account/Profile"
@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer

<h1>PLACEHOLDER!</h1>

WORK IN PROGRESS. PLEASE FINISH ME.

<a class="btn btn-primary" href="/home">Continue</a>




