<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SignalSpeak</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <!-- Static navigation links -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/camera">
                <img src="icons/translate.png" class="nav-icon" /> Translate
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <!-- Conditional user links -->
        @if (string.IsNullOrEmpty(MainLayout.CurrentUserEmail))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/register">
                    <span class="bi bi-person-plus" aria-hidden="true"></span> Sign Up
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <span class="nav-text">Welcome, @(MainLayout.CurrentUserEmail ?? "Guest")</span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/profile">
                    <span class="bi bi-person-circle" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
    </nav>
</div>
