@page "/Identity/Account/Register"

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Forms

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager Navigation

<h3>Register</h3>

@if (Errors.Any())
{
    <ul style="color: red;">
        @foreach (var error in Errors)
        {
            <li>@error</li>
        }
    </ul>
}

<EditForm Model="Input"
          OnValidSubmit="RegisterUser"
          FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="Input.Email"
               placeholder="Email"
               class="form-control" />

    <InputText @bind-Value="Input.Password"
               type="password"
               placeholder="Password"
               class="form-control" />



    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterInputModel Input = new();
    private List<string> Errors = new();

    protected override void OnInitialized()
    {
        Errors.Clear();
    }

    private class RegisterInputModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }

    private async Task RegisterUser()
    {
        Console.WriteLine($"PASSWORD RECEIVED: '{Input.Password}' Length={Input.Password?.Length}");

        Errors.Clear();

        var user = new IdentityUser
            {
                UserName = Input.Email,
                Email = Input.Email
            };

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (result.Succeeded)
        {
            await SignInManager.SignInAsync(user, isPersistent: true);
            Navigation.NavigateTo("/");
        }
        else
        {
            foreach (var error in result.Errors)
            {
                Errors.Add(error.Description);
            }
        }
    }

    private void ClearErrors()
    {
        if (Errors.Any())
        {
            Errors.Clear();
        }
    }
}
