@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">

<img src="images/SignSpeak-logo.jpeg" class="prototype-images" alt="SignSpeak logo" />

<h1>Welcome to SignSpeak</h1> 

<h3>What is SignSpeak?</h3>
<p>SignSpeak is a web-based application capable of translating American Sign Language (ASL) 
gestures captured via video into text or speech,  using computer vision and machine learning for 
translations to happen in real time.</p>

<h3>How do I use SignSpeak?</h3>
<ol class="steps-list">
    <li>Sign up or Log in to the web app 
        <img src="images/login-page-prototype.jpeg" class="prototype-images" alt="Login page" />
    </li>
    <li>Go to the trasnlation page      
    <a class="btn btn-primary" href="/counter">Translate</a>
    <img src="images/translate-page-prototype.jpeg" class="prototype-images" alt="Translate page" />
    </li>
    <li>Take a picture or a video signing in ASL and upload it</li>
    <li>Receive a real time translation in English text</li>
</ol>

</div>