/*center the page*/
.home-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
}

/*spacing*/
h3 {
    margin-top: 2rem;
}

/*logo color on header*/
h1 {
    color: #552e88;
}

/*images for the front page (replace later with final product images)*/
.prototype-images {
    width: 250px;
    margin: 1.5rem auto;
    display: block;
}

/*number list */
.steps-list {
    counter-reset: step;
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

.steps-list li {
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
}

/*circle numbers*/
.steps-list li::before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #552e88;
    color: white;
    font-weight: bold;
    margin-right: 1rem;
}
