@page "/registerSuccess"
@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer

<h1>SUCCESS!</h1>

You have successfully registered your new account.Click to view your profile:<a href="#"></a>

<a class="btn btn-primary" href="/profile">Profile</a>

